<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Codigo Secreto" content="1520694924">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href=@{css/style.css}>
    <title>Projeto Web</title>
</head>
<body>
    <ul>
        <li><a class="active" href="#home">Início</a></li>
        <hr/>
        <li><a href="/public/canaisNoticias.htm">Canais de notícias</a></li>
        <hr/>
        <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
        <li><a href="/listarPessoas">Listar pessoas</a></li>
        <hr/>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-Mail</a></li>
      </ul>
      <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <h1>Projeto web 2020.2</h1>
        <img src=images/imagem.jpg alt="">
</body>
</html>